[2021-07-23 18:52] hahmhannah opened #115 "Version 2.6.2 not available for download?"
Hello, I have downloaded version 2.6.1 from the sidebar of the 'code' page. It says that 2.6.1 is the latest release, but upon opening the software, there is a message saying there is version 2.6.2. When I click the link to take me to the download, I am sent to the same page with 2.6.1 as the latest release. Is there a page I'm missing? Thanks

[2021-07-23 19:25] DrCoffey commented on #115
He hahmhannah,

A release is just a stable version, but not the most recent. You can download 2.6.2 from the green code button on the main page.

That said, a brand new version is going to be released in a few days.

you can get the development version here: https://github.com/DrCoffey/DeepSqueak/tree/Screener

but the stable V3 release will be on the main page very soon.

-Kevin

[2021-07-23 19:25] #115 closed

[2021-07-23 19:37] #114 closed

[2021-07-23 20:19] DrWilkin-Krug commented on #86
Great, but does it include the by-call tonality? Without it, we won’t be able to process our files for clustering.

On 21/07/2021, at 6:24 AM, DrCoffey ***@***.***> wrote:

﻿

You can download the development version here now:

https://github.com/DrCoffey/DeepSqueak/tree/Screener

If you use GitHub Desktop to clone it, you can easily update it as we make
improvements. I'm not not sure when it will

[2021-07-23 22:25] DrCoffey commented on #86
It won't be releasing with by-call tonality, but it will have improved automatic contour extraction and the ability to adjust boxes easily, which really helps define the contour. It will also release with a new clustering method that does not use the contour, but instead the entire spectrogram (VAEs).

It is on the development list, but to be honest it is low priority. We don't have many issues wi

[2021-07-24 01:22] #62 closed

[2021-07-24 01:23] #85 closed

[2021-07-26 23:28] DrCoffey commented on #99
V3 is now available on the master branch and includes peak frequency in the output!

[2021-07-26 23:33] DrCoffey commented on #86
I am going to consider this a "Feature Request" and move it to the Gitter page here: https://gitter.im/DeepSqueak_Community/FeatureRequests

[2021-07-26 23:33] #86 closed

[2021-07-26 23:34] DrCoffey commented on #96
DeepSqueak V3 is now available on the main branch, let me know if you still have this issue with the new version.

[2021-07-26 23:36] DrCoffey commented on #97
DeepSqueak V3 is now available on the master branch and generally doesn't require denoising. I am going to stop supporting the old version, but let me know if you still have issues with V3

[2021-07-26 23:36] #97 closed

[2021-07-26 23:37] #106 closed

[2021-07-26 23:38] DrCoffey commented on #107
Version 3 is now available on the main branch. Let me know if you have any issues detecting calls or training networks with V3. Be sure to follow the Wiki when training a new network. I won't be supporting V2.6.2 anymore, so open a new issue if you have V3 issues,.

[2021-07-26 23:38] #107 closed

[2021-07-26 23:39] DrCoffey commented on #108
I will no longer be supporting V2.6 issues, so I am going to close this issue. If you have any issues with V3, please start a new issue.

[2021-07-26 23:39] #108 closed

[2021-07-26 23:41] DrCoffey commented on #109
Hey Isa,

I am going to consider this a "Feature Request" and move it to the Gitter: https://gitter.im/DeepSqueak_Community/FeatureRequests

V3 is now available on the main branch, so give it a shot and start a new issue if you find any.

-Kevin

[2021-07-26 23:41] #109 closed

[2021-07-26 23:41] #113 closed

[2021-07-27 13:46] cmlenell1 commented on #99
Amazing! Thanks for the update!
Charles Lenell, PhD, CCC-SLP
*he/they*

On Mon, Jul 26, 2021 at 6:29 PM DrCoffey ***@***.***> wrote:

[2021-07-28 20:22] clarebearbradders commented on #96
I've been having the same errors, and I've just downloaded the newest version of DeepSqueak (using MatLab2020b), and now I get this:
Warning: Undefined function 'spectrogram' for input arguments of type 'double'.

Error in SqueakDetect (line 90)
        [~,fr,ti,p] = spectrogram(audio(:,1),wind,noverlap,nfft,audio_info.SampleRate,'yaxis'); % Just use the first
        audio channel

Error in multi

[2021-07-28 20:22] clarebearbradders commented on #96
Any suggestions?

[2021-07-28 20:42] DrCoffey commented on #96
Hey Clare,

The error looks like you are missing the "spectrogram" function, which is part of the Signal Processing Toolbox.

All of the required toolboxes are listed in the Wiki here: https://github.com/DrCoffey/DeepSqueak/wiki/Installation

Make sure you install them all to get the most functionality out of DeepSqueak.

-Kevin

[2021-08-08 09:13] suchyun1993 opened #119 ""Batch Reject by Threshold" doesn't work in V3.0"
Hi Coffey,

Thanks for your recent update of version 3.0! After several days of use, I found the function "Batch Reject by Threshold" doesn't work anymore. It shows issue as below:

[code]
It seems some variables are no longer available in the new version (for example, there is no column called "Rate" in the detected mat. file). This function is quite useful to remove some false positive detection

[2021-08-08 09:52] suchyun1993 commented on #119
Besides, the export function also met some problem. When I was trying to export spectrogram it shows:
[code]
Export Audio alse needs to manually modify the format of start time.

[2021-08-08 23:38] DrCoffey commented on #119
Looks like I missed updating a few functions. Batch rejection by threshold should now work. I'll get around to the other issues ASAP

[2021-08-08 23:53] DrCoffey commented on #119
Ok, all of the exporting bugs you found should be fixed. Let me know if you find anything else.

[2021-08-08 23:53] #119 closed

[2021-08-09 02:43] suchyun1993 commented on #119
Wow, thank you so much for your super fast response !! 😮 I will be using it for a long time. I will let you know if I could find anything else.
Cheers 🙌

[2021-08-09 16:53] hahmhannah opened #120 "t-sne error"
Hello, I'm using version 3.0.1 on Mac. I tried to create a t-sne plot but I keep getting an error (picture 1).
The input dimensions I chose are contour shape, frequency, and duration.
To color the calls I chose cluster. For the cluster parameters, I went with the default settings. Then I get data in Matlab, then the attached error. However, I don't get an error when I choose 'frequency' to color t

[2021-08-09 20:25] DrCoffey commented on #120
There was some strange error in the splitapply function. I'm not sure what caused it, so I just wrote a small loop instead. It should work fine now.

As for the lack of final image, you should get a menu to pop up at the end that asks where to save the image.

If you don't see that let me know and I will look into it. Sometimes there are Mac specific issues that are hard for me to track down witho

[2021-08-16 18:35] DrCoffey opened #121 "Task 1: Real-Time Recording and Call Detection"
DeepSqueak currently detects calls in completed audio recordings. However, for many bioacoustics researchers, real-time spectrogram visualization and call detection is important. MATLAB has built-in audio recording capabilities through the audio toolbox, and YOLOV2 detection is fast enough to perform detection in real-time.

•	Modify DeepSqueak to accept a real-time signal from an external microph

[2021-08-16 18:36] DrCoffey opened #122 "Task 2: Categorizing Signals in Real-Time"
We would like DeepSqueak to be able to perform real-time clustering of detected calls.

•	Apply VAE, k-means, or cnn based classification in near real-time during recording.
•	Display call cluster in DeepSqueak app in the “Label” section

[2021-08-16 18:36] #96 closed

[2021-08-16 18:44] DrCoffey opened #123 "Task 3: Improve DeepSqueak Documentation"
DeepSqueak documentation could be improved.

- Wiki pages for DeepSqueak features could appear similar to how Mathworks documents native MATLAB functions.
- Complex features like new species network training could get tutorial/example pages.

[2021-08-16 21:30] VoiceScientist commented on #121
Huge fan of this task! Could I add independent multichannel monitoring and hardware triggers to the feature list? Let me know how my lab can help.

[2021-08-17 02:33] DrCoffey commented on #121
Hey @VoiceScientist

Can you elaborate a little on your request here: https://gitter.im/DeepSqueak_Community/FeatureRequests

[2021-08-23 19:27] DrCoffey opened #126 "DeepSqueak v3 Testing"
- [ ] Test general workflow
- [ ] Test unsupervised clustering & clustering GUI
- [ ] Test supervised classification
- [ ] Test manual detection review
- [ ] Test training a new detection network

[2021-08-26 19:40] DrCoffey opened #127 "Optimize Unsupervised Clustering"
- [ ] Optimize automatic contour extraction
- [ ] Optimize contour parameterization for k-means clustering
- [ ] Optimize VAE based clustering
- [ ] Prepare clustering methods for real-time categorization

[2021-08-30 17:25] vijayiyer05 commented on #122
Thanks @DrCoffey for clarifying. I got the dichotomies mixed up! I was thinking about how for some species could classification works (e.g. CNN) and for others clustering is needed (e.g. k-means or VAE).  My assumption is that both tasks apply to both cases, but we briefly wondered if one applied to each since one says classify and the other cluster.

[2021-09-07 11:05] Marrekko opened #129 "DS V3.01 Excel Export Bug"
Hi,

I've analyzed some data using the V3 from Agust 16 with Matlab 2021a. While exporting results to Excel, some files will produce a bug, some will be exported without problems. I don't really see the difference between them or what is causing this. Some files that do not work will hang up in early stages of exporting, some in later (according to the progress bar). So I guess there is a problem

[2021-09-07 14:10] Marrekko commented on #129
Follow up: Sometimes it helps to track the error from the beginning :D The code stucks in line 63 of CalculateStats if a call has less than 6 datapoints, as threshold lowering does not help in this case:

[code]
It works fine if one reactivates the lines

[code]
from March 2019. Maybe one can include a warning prompt that calls are ignored as they were to short. Best would be a possibility to revi

[2021-09-07 18:34] DrCoffey commented on #129
Hey @Marrekko. Yup, this bug was is caused by boxes less than 5 pixels wide. I have pushed an update that fixes the problem. In the future I think I will try to automatically pad box sizes that are too small so we won't have to worry about minuscule boxes causing other problems.

[2021-09-07 18:34] #129 closed

[2021-09-08 23:31] Melissa-Salazar opened #131 "Error in CalculateStats"
Hi Dr. Coffey,

I just downloaded and installed DeepSqueak and I've tried to use it but every time I hit a key or try to accept or reject a call I get an error message in the command box. I am also not getting the data/graphs that appear on the left side of the window. I don't really have any background in coding so I'm not too sure what I should do to fix this error. I assume it might be an easy

[2021-09-09 00:02] DrCoffey commented on #131
Hey @Melissa-Salazar. Try deleting your settings.mat file from the main folder and loading DeepSqueak again. I changed some of the contour extraction methodology and the settings file needs to be built from scratch.

[2021-09-09 00:07] DrCoffey commented on #131
@Melissa-Salazar, There was also another error I just caught, so you should also pull the latest version.

[2021-09-09 16:02] Melissa-Salazar commented on #131
@DrCoffey, yes that solved the issue! Thank you!

[2021-09-09 16:02] #131 closed

[2021-09-15 22:20] MxMarx commented on #126
MATLAB has stuff for making an [automated testing framework](https://www.mathworks.com/help/matlab/matlab-unit-test-framework.html), is this worth using?

[2021-09-17 17:30] mbreach opened #135 "warning for 'CheckpointPath' and error in merge_boxes"
Hello wonderful DS developers,

I am using DeepSqueak V3 on the latest version of Matlab R2021a. When I type "DeepSqueak" everything loads okay. The GUI pops up appropriately and I am able to initiate call detection.  But once call detection is initiated, I get the following warning:

Warning: While loading an object of class 'nnet.cnn.TrainingOptionsSGDM':
The value of 'CheckpointPath' is invalid

[2021-09-17 19:02] DrCoffey commented on #135
Hey @mbreach , the checkpoint warning is not an issue. It exists because I trained the networks on my computer and the checkpoint path doesn't exist on other computers. Unfortunately, I can't edit that value in the networks directly so the warning will always be displayed.

Did you make sure to change the detection network to the rat or mouse short call network to detect the file? I think the rat

[2021-09-17 19:24] mbreach commented on #135
Hi Kevin,

I have tried both the long and short rat calls networks because I wondered if that had something to do with it. I just tried it again using the short rat network and got the same error, but realized I didn't paste the first line of the error in my original post:

Unrecognized function or variable 'h'.

Error in merge_boxes (line 45)
if ~any(Accepted); close(h); return; end

Error in Squ

[2021-09-17 19:25] mbreach commented on #135
Here is the audio file: https://drive.google.com/file/d/1u19gnrKYu92TY_41W0fSzPj0pub_toMH/view?usp=sharing

[2021-09-20 20:38] DrCoffey commented on #135
Hey @mbreach. I was able to detect the file you sent successfully. I would try to download the newest version of DeepSqueak and try again from scratch (Delete your old settings file if you update with Github Desktop). Are you using a Mac or PC

[USV1 2021-09-17  1_09 PM.zip](https://github.com/DrCoffey/DeepSqueak/files/7198602/USV1.2021-09-17.1_09.PM.zip)
?

[2021-09-22 01:33] mbreach commented on #135
Hi Kevin,

That’s weird, I haven’t messed with the settings at all since I downloaded DS. But That definitely worked. Thanks so much for your time!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: DrCoffey ***@***.***>
Sent: Monday, September 20, 2021 4:38:35 PM
To: DrCoffey/DeepSqueak ***@***.***>
Cc: Michaela ***@***.***>; Mention ***@***.***>
Subject: Re: [DrCo

[2021-09-22 18:11] DrCoffey commented on #135
No problem!

[2021-09-22 18:11] #135 closed

[2021-10-26 10:47] ACRRP opened #143 "Clustering Models v3"
Hi Kevin

Why is there not a folder for clustering models in the v3 as in v 2.6.2.?

Thanks

[2021-11-08 00:24] DrCoffey commented on #127
Hey @avimatarasso Here is the original script for edge detection that may be useful:
https://www.mathworks.com/matlabcentral/fileexchange/65856-ridge-river-and-edge-detection-in-images

[2021-11-08 00:26] DrCoffey commented on #127
And here is a version that I made into a function. Had to save as a .txt to share here.

[e_CntMap.txt](https://github.com/DrCoffey/DeepSqueak/files/7493482/e_CntMap.txt)

[2021-11-08 00:26] DrCoffey commented on #127
I just used the image (I) from calculatestats to test this

[2021-11-17 12:04] ACRRP commented on #143
Hello!
Thank you for your reply.
That's what I understood reading the tutorials. I also tried to use files analised with the v2.6.2 to train v3 and it didn't work. In our team we are interested in syntax analysis and we were afraid of biasing the analysis by using only our call library to train the program. We will give it a try and let you know how it goes.
Thanks!

[2021-11-23 19:27] cmlenell1 opened #144 "Harmonics"
Hi Dr. Coffey,

We have analyzed USVs with both SASLab Pro and Deepsqueak and bandwidth (delta frequency) is different between the two programs. One advantage using SASLab Pro is that it measures harmonics of the call. Is it possible for Deepsqueak to measure harmonics?
Charlie Lenell (Ciucci Lab-UW Madison)

<img width="181" alt="Harmonic USV" src="https://user-images.githubusercontent.com/454635

[2021-11-23 21:49] DrCoffey commented on #144
Hey Charlie,

DeepSqueak uses the call contour to calculate the stats, and it can't have 2 contours at the same time sample so harmonics are excluded.

You could extract the total frequency range from the Bounding Box Height, that info is in the detection file, but you would need to write a quick script to extract it.

I have always been worried that harmonics are artifacts of our microphones beca

[2021-11-23 21:49] #143 closed

[2021-11-23 22:25] cmlenell1 commented on #144
Thanks for the prompt response!

Where is the bounding box height calculated? I'm having trouble finding it
in the functions codes.

Charlie

Charles Lenell, PhD, CCC-SLP
*he/they*

On Tue, Nov 23, 2021 at 3:49 PM DrCoffey ***@***.***> wrote:

[2021-11-23 22:36] DrCoffey commented on #144
The "Box" is saved in the calls variable. I think it is created in SqueakDetect.m

If you drag any detection file into your workspace you can open the calls variable to see the Box variable for each call.

It is a 4 value array  [start time(S)  low frequency(kHz) box width(s)  frequency height(kHz)]

So the last number in "Box" is the total frequency bandwidth of the box.

![CallCap](https://user-

[2021-11-24 01:25] cmlenell1 commented on #144
Thanks again for your speedy reply! I'll try to figure out how to extract
that from a folder of the mat files.
Best,
Charlie

Charles Lenell, PhD, CCC-SLP
*he/they*

On Tue, Nov 23, 2021 at 4:36 PM DrCoffey ***@***.***> wrote:

[2021-11-24 22:26] cmlenell1 commented on #144
I'm trying to figure out how to get the CalculateStats.m file to calculate
the bandwidth. I'm not finding the line of code needed for this in the
SqueakDetect.m file.

Does this look right?

% Frequency Range of the call contour
stats.FreqRange = range(stats.ridgeFreq)

Charles Lenell, PhD, CCC-SLP
*he/they*

On Tue, Nov 23, 2021 at 7:25 PM Charles Lenell ***@***.***>
wrote:

[2021-12-09 15:52] cmlenell1 opened #145 "Display range"
I'm analyzing mouse usvs and some go above 125kHz but I can't extend the range beyond 125. Any suggestions? Thanks! -Charlie

[2021-12-09 18:58] DrCoffey commented on #145
Hey Charlie, If you set the display range above 0.5x the sample rate DeepSqueak will just use 0.5x the sample rate as the high frequency cutoff. So if you record at 250kHz, the highest frequencies you can record and visualize is 125kHz. If you want to go higher than 125 you will need to record at a higher sample rate.

https://en.wikipedia.org/wiki/Nyquist_frequency

[2021-12-09 19:22] cmlenell1 commented on #145
Is there a way to adjust this .5x setting so that I can view higher
frequencies with the current sampling rate?
Charlie
Charles Lenell, PhD, CCC-SLP
*he/they*

On Thu, Dec 9, 2021 at 12:58 PM DrCoffey ***@***.***> wrote:

[2021-12-09 19:30] DrCoffey commented on #145
Unfortunately it is not a limitation of DeepSqueak, but a mathematical limitation. When you convert a continuous function or signal (the audio pressure wave) into a discrete sequence (microphone samples) you can only detect frequencies at 0.5x the sample rate. If the wave frequency is higher than that it will just be missed by the discrete samples of the microphone, so the frequency info above 125

[2021-12-09 20:15] cmlenell1 commented on #145
Thanks for clarifying!
Charles Lenell, PhD, CCC-SLP
*he/they*

On Thu, Dec 9, 2021 at 1:30 PM DrCoffey ***@***.***> wrote:

[2022-01-06 17:23] VoiceScientist opened #147 "Measure gaps in USVs"
**Is your feature request related to a problem? Please describe.**
We are measuring USVs that have gaps - moments that are not detected in the contour because the call drops out.

**Describe the solution you'd like**
We'd like a way to quantify this broken/inconsistent appearance

**Describe alternatives you've considered**
Is there a way to calculate the duration of the detected points on the con

[2022-01-21 10:59] ROAbb opened #149 "training detection network"
**Describe the bug**
I am trying to train the Deepsqueak detection network on my data. But, to make sure my work is correct, I first used the test data (Example Mouse Recording.flac) in the Deepsqueak directory. Since Deepsqueak requires a data detection file to train the detection network, I used the existing detection network for detecting USVs in this file. Then I generated images using paramet

[2022-01-26 18:21] DrCoffey commented on #149
Hey ROAbb, Are you using the most up-to-date version of DeepSqueak v3?

Available here: https://github.com/DrCoffey/DeepSqueak

[2022-01-27 05:25] #145 closed

[2022-01-27 13:01] ROAbb commented on #149
Hey DrCoffey,

When I use the new version (v3) to load the detection from the previous version or v3 (which I used "Mouse Detector Yolo R2.mat" for the detection), I get the following error:

`Error using images.roi.Rectangle/set
Unrecognized property LabelAlpha for class Rectangle.

Error in images.roi.internal.ROI/parseInputs

Error in images.roi.Rectangle

Error in drawrectangle (line 190)
h =

[2022-02-01 22:49] ROAbb commented on #149
Dear @DrCoffey
Thanks for your suggestion.
Upgrading my MATLAB to 2021 and using DeepSqueak v3 solved the problem of network training.
Now I have another question regarding training the detection network. could you please take care of it?

On the one hand, we know that the Yolo network has a large number of parameters, and on the other hand, it takes so much time to provide a large number of corre

[2022-02-03 05:57] Durling opened #151 "My DeepSqueak can‘t exactly export excel file"
**Describe the bug**
Deer Dr. Coffey, when I choose the "Export Excel Log (Call Statistics)",  DeepSqueak produce a blank excel file. And I have  confirmed that the Detected Call File have accepted calls. I detect calls again, choose the new detected file to export, it still produce a blank excel file.

**To [Reproduce**]
Steps to reproduce the behavior:
With the attached audio/detection files:
1.

[2022-02-03 05:58] Durling commented on #151
Duplicate of #

[2022-02-03 19:33] DrCoffey commented on #151
Hey @Durling

Can you successfully output a Call Statistics file for one of the example detection files?

-Kevin

[2022-02-03 19:39] DrCoffey commented on #149
We have had good luck training networks with any where from several hundred to several thousand training images.

The key to a goo training set isn't really raw number, but good representation of the call types you want to detect. I try to include a roughly equal number of each type of call, and a good distribution of call variance (loud, quiet, with background noise, without, etc.). I also often

[2022-02-03 19:39] #149 closed

[2022-02-03 19:44] DrCoffey commented on #147
Hey, sorry for the slow reply.

There isn't an easy way to do this with DeepSqueak, but I think the information could be pulled out of the extracted contours.

If you run unsupervised clustering and save the extracted contours you should be able to load that file into matlab and look at the contours for every single call. There should be a time and frequency variable for every contour, so you woul

[2022-02-03 19:47] DrCoffey commented on #144
Hey, sorry I forgot to respond to this question. Did you ever figure out what you were looking for?

[2022-02-03 21:15] cmlenell1 commented on #144
That's okay. No, I was never able to figure out how to measure bandwidth
Bounding Box Height automatically.
Charlie

Charles Lenell, PhD, CCC-SLP
*he/they*

On Thu, Feb 3, 2022 at 1:48 PM DrCoffey ***@***.***> wrote:

[2022-02-03 23:37] DrCoffey commented on #144
This one is actually pretty simple.

Replace the following 2 files in your version of DeepSqueak and the excel files will include Box bandwidth in the final column.

I had to zip them to upload to github.

[functions.zip](https://github.com/DrCoffey/DeepSqueak/files/7998972/functions.zip)

[2022-02-03 23:37] #144 closed

[2022-02-04 10:31] scoki211 opened #152 "Supervised classification"
Hi Kevin and colleagues

I am trying out DS v3, having used 2.0 and 2.5 the past couple of years to great success. Love all the new additions. However, one thing I can't see in this version is the classifiers that came stock with previous versions of DS. It seems all the interface functionality for supervised classification is there, so I pulled the Wright classifier mat file (which we used for su

[2022-02-04 20:31] VoiceScientist commented on #147
No problem about the delay - I appreciate your ongoing development and support of DeepSqueak. The extracted contours aren't saved with a typical analysis? We'd need to run the clustering?

Glad you like our recordings. We're using Avisoft hardware (CM16/CMPA mic with the UltraSoundGate 816H interface) and we record in a walk-in sound booth with the animal in a sound-treated cubicle (https://www.co

[2022-02-07 14:13] ROAbb commented on #149
Thank you for your guidance.

[2022-02-08 06:31] DrCoffey commented on #147
Ya, if you run clustering you can extract all of the contours at once. You don't have to complete clustering, you can quit out after you extract and save the contours.

[2022-02-08 06:36] DrCoffey commented on #152
Hey Jack,

Unfortunately the old classifiers don't work with v3. We were never really happy with the accuracy of supervised classifiers and pretty much only use unsupervised clustering now.

If you choose to train a new network and get good results feel free to share them here:
https://gitter.im/DeepSqueak_Community/NetworkTraining

I believe some others are already posted there if you want to try

[2022-02-08 06:36] #152 closed

[2022-02-10 17:15] taylorkimball123 opened #153 "Issue with opening function"
Hello! I am new to Matlab so this might be a simple fix, but I am getting this error when I run the program

Warning: Support for ver('distcomp') will be removed in a future release.  Use ver('parallel') instead.

In ver (line 56)
In verLessThan (line 39)
In DeepSqueak>DeepSqueak_OpeningFcn (line 108)
In gui_mainfcn (line 220)
In DeepSqueak (line 30)
Unrecognized function or variable 'squeakData'.

[2022-02-10 17:25] #153 closed

[2022-02-15 23:26] Cesarmedina123 opened #154 "Creating Supervised Classifier for Novel Species"
**Describe the bug**
First off, thank you very much for updating DeepSqueak v3.01. I have high hopes to use this software moving forward, but running into some technical challenges when creating a supervised network.

I am trying to create a supervised neural network in DeepSqueak v3.01 using MatLab 2020b for detecting zebra finch calls based on modified call categories from [Badwal et al., 2018](

[2022-02-15 23:38] Cesarmedina123 commented on #154
Edit: It was the period in the label name. I will continue updating once I create a good supervised network, but keep this here since how you label calls is important.

[2022-02-17 20:18] Cesarmedina123 commented on #154
Hola @DrCoffey

What would be the best way to send it to you? I can't share .wav or .mat files via Github?

Saludos,

Cesar

[2022-02-24 16:40] cmlenell1 opened #157 "Export Call stats different than displayed stats"
Hi,

I noticed that call length and principal frequency are slightly different between the displayed numbers and the exported numbers. For example this last call was 10 ms with principal frequnecy of 105.8 but the exported stats has duration as 12.8 ms and prin freq as 97.86. How do I fix this?
<img width="593" alt="Different call stats" src="https://user-images.githubusercontent.com/45463545/1555

[2022-02-27 00:38] vjoshi48 opened #158 "Unsupervised Clustering; using two different detection files"
Hello,

I am writing because I am trying to create an unsupervised clustering model using two different detection files. The issue is that one of the detection files has a column called "power" and one of the files does not.

When I go into the detection file that has the column called "power", I tried to simply delete the power column and save the file as such. The problem is, is that when I do t

[2022-03-07 11:38] sulafafakhreddin opened #159 "single call detected as multiple calls"
How do i automatically set deepsqueak to stop detecting a single call as multiple calls

[2022-03-10 21:56] DrCoffey commented on #159
Hey @sulafafakhreddin, Can you show me an example?

[2022-03-10 22:05] DrCoffey commented on #158
Hey Varun,

It sounds like you have detection files from different version of DeepSqueak. There was a lot of active development a few months ago, and not everything is back compatible, though I thought we solved the issues around the power column.

The error you sent actually appears to relate to the "SampleRate" variable not existing.

Can you cluster using the example detection files and were th

[2022-03-10 22:17] DrCoffey commented on #157
Hey, this is actually a much trickier issue than it seems. The call stats you see are calculated from the contour, which is in turn generated from the spectrogram. Any change in how the spectrogram is rendered will slightly change the contour and thus the output stats. I wanted the visualization of the spectrogram to be flexible, but when it comes time to output the stats, we have to use the same

[2022-03-10 22:20] #147 closed

[2022-03-10 23:16] vjoshi48 commented on #158
I was able to resolve the issue. I realized that when I deleted the power column, this resulted in the file's samplerate parameter not being accessible (however, the parameter was still there when I opened the file to check). I updated matlab and this seemed to resolve the error; there was some incompatibility or bug that I was running into with matlab itself!

Thank you,

Varun Joshi

[2022-03-10 23:16] #158 closed

[2022-03-11 18:30] ARTUR551 commented on #159
Hi DrCoffey,

Related to this issue:
What is the default minimal interval that DeepSqueak uses to distinguish one vocalization of the next one?
Is there a way to change it?

Thanks in advance!

A.

[2022-03-11 22:38] DrCoffey commented on #159
@ARTUR551 There isn't any default minimal interval. DeepSqueak uses machine vision instead of specific rules. If any two detection boxes overlap in time they will be combined. If they don't it will be considered 2 calls. Practically, boxes usually extend 5ms or so past a call, so things within 5ms usually are boxed as the same call.

[2022-03-11 22:48] taylorkimball123 opened #162 "Issue with loading calls"
Hello! I am not sure if this is related to where I have my audio files, but I am having issues when loading calls after detecting calls. It will detect the calls, but then I am unable to see them. I have tried troubleshooting, but cannot seem to figure this out so I figured I'd ask here. Here is what is happening:

Warning: While loading an object of class 'nnet.cnn.TrainingOptionsSGDM':
The value

[2022-03-16 20:20] cmlenell1 commented on #157
Hi again,
I think something is wrong with the new version of Deepsqueak. Randomly the sinuosity of a call will be extremely off.
The sinuosity is during analysis ~1.6 but the export was ~7.0. On the previous version it exported correctly. We can't achieve reliability anymore because of this issue. There's no patterns to when this occurs.
![image](https://user-images.githubusercontent.com/45463545/

[2022-03-16 21:45] DrCoffey commented on #157
Ok, I will take a really close look at the exporting code. It should be using the exact same function as the display code, but with slightly different spectrogram parameters. I'm not sure why that would cause such big swings in the output, so there may be something going on that I am missing. If you could share the exact file where you are seeing this it might expedite the process.

[2022-03-17 05:21] DrCoffey commented on #157
Ok, I think I figured out what is happening. Sinuosity is calculated as the XY path length the call travels, as if frequency and time samples were positions on a square grid. Path length is then normalized to the number of samples:

[code]
This means that calls with rapid changes in frequency have high sinuosity. If the contour misses a single point during a frequency swing it can dramatically low

[2022-03-17 15:50] JohnReinhart opened #163 "Call Identification"
When I load files from mouse calls that are WAV files from AviSoft, the program is not identify any of the calls but identifying non-calls at 40kHz. Not sure if there is a way to fix this

[2022-03-17 21:56] DrCoffey commented on #157
@cmlenell1 Ok, I figured out a method to optimize spectrogram parameters for all of the different functions. The display stats, output stats, clustering stats, and batch-reject-by-threshold stats will all use the same automatically optimized spectrogram parameters. You will still be able to change the display parameters, but they wont effect the contour or stats.

I need another day or 2 to test e

[2022-03-18 22:00] DrCoffey commented on #157
@cmlenell1 Alright, I pushed the fix. Let me know if you are still having problems. If not I'll close the issue.

[2022-03-18 22:55] cmlenell1 commented on #157
I took a quick look and it looks alot better! I'll take a closer look on Monday. Thanks for prioritizing this!

[2022-03-21 23:27] DrCoffey commented on #162
Hey @taylorkimball123. Can you load the included example call files?

[2022-03-21 23:28] DrCoffey commented on #163
Hey @JohnReinhart. Can you share an example audio file with me so I can take  a look? Emailing a google drive or one drive link is usually the best option.

[2022-03-22 15:27] taylorkimball123 commented on #162
Hello! I can load the example file, but can't load either .flac or .wav files I have in the same folder.

[2022-03-22 16:10] JohnReinhart opened #164 "Export to excel errors"
I am using DeepSqueak 3.0.1 on MatLab 2021b. I have processed 14 files and exported them to excel without error but for one litter of 3, recorded at the same session as another litter that has processed successfully, I receive errors when trying to export to excel. I have attached a pdf with screenshots of the errors I receive and was curious if you had any suggestions? Each file is hand scored wh

[2022-03-22 16:54] JohnReinhart commented on #164
https://docs.google.com/presentation/d/1Jg1luBJf9HoF7i6TPMxp0ztRYOpNjkDSR4T3592G9JM/edit?usp=sharing

[2022-03-22 20:32] DrCoffey commented on #164
That error usually only occurs when a box is screwed up and outside the Audio range, but because it is happening for every call there must be something else going on. Are you using separate folders for audio files and detection files? Have you set both of those folders before trying to export the stats?

[2022-03-22 20:35] JohnReinhart commented on #164
Yeah, each animal in the litter has its own folder processed individually. Each file produced by DeepSqueak, before being converted to an excel file, is saved within the same folder that represents each animal.

[2022-03-22 20:41] DrCoffey commented on #159
Actually there is a hidden function that would allow you to merge boxes within a certain interval.

If you change line 49 in merge_Callback.m

from:
Calls = merge_boxes(AllBoxes, AllScores .* AllAccept, AllClass, audio_info, 1, 0, 0);

to:
Calls = merge_boxes(AllBoxes, AllScores .* AllAccept, AllClass, audio_info, 1, 0, 1);

It will turn on box padding.

Then you can set the padding number in line

[2022-03-22 20:44] DrCoffey commented on #164
Got it. Usually I would keep all of the audio files for 1 project in a single folder, and all of the detection files for that project in a separate folder. That way you can analyze the files in a batch. You could then export them all at once or cluster them all at once.

Either way the audio file and detection files need separate folders, and you need to point DeepSqueak to those folders before ex

[2022-03-22 20:46] JohnReinhart commented on #164
I did try saving the detection files in one separate folder at one point but was still getting the same error.

[2022-03-22 20:49] DrCoffey commented on #162
I would try turning DeepSqueak off and on, then resetting the detection and audio folders with File->Select Audio Folder, etc. Then select the detection file from the drop-down menu and hit load calls.

There is also a recently updated version of DeepSqueak that is available, so you might consider upgrading and seeing if that fixes things.

[2022-03-22 20:52] DrCoffey commented on #164
It is likely something strange with the one detection file then, without seeing that specific file and corresponding audio file, it will be hard to tell what is going wrong. If you can share them I might be able to help.

[2022-03-22 20:57] JohnReinhart commented on #164
It wont allow me to load zipped files, any good suggestions on how to share them with you?

[2022-03-22 21:00] DrCoffey commented on #164
Google drive links usually work well.

[2022-03-22 21:01] JohnReinhart commented on #164
https://drive.google.com/drive/folders/1NbVNSLRftOq076huDaNPvNxbZoNsdkSP?usp=sharing

[2022-04-03 13:49] Vanilla99 opened #165 "batch processing"
I am trying to test the files in batches and then generate the corresponding MAT files.  I was curious if you had any suggestions?

[2022-04-03 14:37] #165 closed

[2022-04-07 20:38] JohnReinhart commented on #164
We found a workaround in the excel_Callback function. In effect what was happening was that one of the "if" statements which checked the characteristics of the calls (start time, end time, and length of call) was triggering when the data was being migrated out of Deepsqueak and into the excel sheet output. The reason for this was unclear as the call duration was within acceptable limits. By turnin

[2022-05-02 09:13] Neurolabrat opened #167 "USV rat DeepSqueak Matlab"
Hi,

I'm recording USVs from adult rats with DeepSqueak

I get the following errors:

Warning: While loading an object of class 'nnet.cnn.TrainingOptionsSGDM':
The value of 'CheckpointPath' is invalid. Checkpoint path must be an existing directory with write permission or empty.

In gui_mainfcn (line 95)
In DeepSqueak (line 29)
In matlab.graphics.internal.figfile.FigFile/read>@(hObject,eventdata)D

[2022-05-06 19:22] vjoshi48 opened #169 "Increasing/changing the frequency range that supervised classification images are generated in"
When looking at the supervised classification code, it appears that the frequency range for which the calls are trained is fixed to be from 15KHz to 75KHz: "Rejected Calls are ignored. This function produces training images from 15 to 75 KHz, and with width of the box."

This may already be an existing feature, but how do I increase this range? I am training on rat pup calls which are well above t

[2022-05-09 03:10] DrCoffey commented on #169
Hey @vjoshi48. DeepSqueak V3 uses CreateClusteringData.m to generate images. It should create images with a fixed frequency range from the 5th to 95th percentile of all boxes in the dataset.

Line 82:
else
         freqRange(1) = prctile(Calls.Box(:,2), 5);
         freqRange(2) = prctile(Calls.Box(:,4) + Calls.Box(:,2), 95);
end

Can you explain where 15-75 is coming from?

[2022-05-09 14:22] vjoshi48 commented on #169
My apologies, the 15-75 was coming from one of the comments in the code. The comment was the one quoted in the initial post. I am not too familiar with matlab, so I did not catch this. Thank you for your prompt reply!

[2022-05-09 14:22] #169 closed

[2022-05-12 08:56] ARTUR551 commented on #159
Thanks for the clarification!

Best,

A.

[2022-06-04 18:59] Fiuza-J opened #170 "Question about view cluster function"
Hello Dr. Coffey,

I am using DeepSqueak on rat USVs recordings. I performed unsupervised clustering and excluded several calls from the clusters because DeepSqueak was identifying noise as USVs. After this, I updated the detection files with the new clusters, and then I tried the view clusters function again to double-check if everything was ok and correct the remaining clusters (I have quite a f

[2022-06-07 18:16] DrCoffey commented on #170
Hey Juliana,

If you save the cluster labels and then use View Clusters, they should end up in the same cluster. If you are only viewing a subset they may be in a different order. I believe the calls are sorted by centrality to the cluster, so if you remove some calls the order will change.

I don't believe removing noise would change the call closest to the center of the cluster unless that call

[2022-06-07 19:10] DrCoffey commented on #170
On second look, I think It has to do with rejected calls. I am working on a fix now.

[2022-06-08 00:00] DrCoffey commented on #170
Hey Juliana,

I think the issue is fixed. Update and try clustering/viewing again.

[2022-06-08 15:49] babywing opened #171 "Supervised Classifier not Running"
Hi Dr. Coffey! I recently downloaded MATLAB & DeepSqueak to our shared lab computer (we've been running DS on our personal computers  but decided to also have it on a shared desktop). We have a custom supervised classifier that we use on our mouse .wav files. It runs perfectly fine on our personal computers, but for some reason it is not running on our shared PC. We have all of the required MATLAB

[2022-06-13 13:26] Fiuza-J opened #172 "Detection network taining"
Hello Dr. Coffey,

I am trying to optimize call detection using the Rat Detector YOLO V1 network in my rat USV recordings.
I was trying to use detection files from a previous dataset where I manually drew all the call boxes to generate the call images and then train the network with those. I have 118 detection files and I've selected all of them but when it is creating images it stops in the 15th

[2022-06-13 13:27] #170 closed

[2022-06-13 17:31] DrCoffey commented on #172
Hey @Fiuza-J that is very strange. There should not be a limit on detection files, I'll look into it.

[2022-06-13 17:32] DrCoffey commented on #172
Are your detection file names very similar? It looks like it is trying to write them to the same directory?

[2022-06-13 21:40] Fiuza-J commented on #172
Hey DrCoffey,

Yes, actually, part of the name overlaps between files. Here are some of them:

![image](https://user-images.githubusercontent.com/106884295/173449813-94b27f75-326c-4578-987a-51084ee0dc01.png)

[2022-06-15 05:29] TaxiCalbee opened #173 "mean power (dB/Hz)"
Hi, I've recently gotten some behavioral data analyzed via DeepSqueak from a colleague showing genotype differences in mean power. From my understanding, the software creates a contour based on vocalization onto a graph that is frequency vs. time, with power (in dB) shown in kind of a heat-map way, where certain colors indicate certain decibel values, put onto the contour on this same graph.

Is t

[2022-06-15 06:02] TaxiCalbee commented on #173
I just read an older post asking why the mean power is negative, and I think I understand that it's due to microphones being assigned a max reference value of dB at 0 dB? Therefore, sounds that are -5 dB would be louder than those that are -55 dB?

[2022-06-15 12:14] VoiceScientist commented on #173
Yes, -5 dB is 50 dB greater than -55 dB. Decibels are always related to some reference level. in recording systems, 0 dB (https://en.wikipedia.org/wiki/DBFS) is the maximum amplitude that can be obtained, so the dB will always be less than 0; if you have a value of 0, then you've maxed out your system and likely have some clipping of the signal.

The second part of your question is trickier: what

[2022-06-15 15:44] TaxiCalbee commented on #173
Thanks, I follow the negative dB. But I am still confused about what is DeepSqueak's output of  'mean power (dB/Hz)', if it was amplitude (i.e. intensity, volume, loudness) I would expect it to be in dB units not dB/Hz, and it was referred to in another post as power spectral density. Does the unit dB/Hz mean that the measure is decibel divided by frequency of the USV contour at each point, taking

[2022-06-15 17:59] VoiceScientist commented on #173
I had the same question a few years ago (#17) and @MxMarx explained that it was a measure of mean power of the USV. My understanding of why it is the power spectral density (PSD) and measured in dB/Hz (not just dB) is that the PSD is calculated from the spectrum and takes into account the spectral resolution of the FFT. Here is an explanation I found to be helpful:
https://community.sw.siemens.com

[2022-06-15 18:36] TaxiCalbee commented on #173
I see, so the Hz in dB/Hz is not actually the frequency of the mouse vocalizations, but rather the frequency resolution that the microphone is recording from? If I'm understanding correctly, the mean power (dB/Hz) is normalizing the sound amplitude of the vocalizations to the frequency resolution of the recording microphone which is important because the same sound can result in different amplitud

[2022-06-15 18:42] VoiceScientist commented on #173
I think the "Hz" in the dB/Hz comes from the frequency resolution of the spectrogram creation (in DeepSqueak) and has nothing to do with the USV itself or the hardware or recording settings. It is a function of the acoustic analysis - the fast fourier transform (FFT) within DeepSqueak. I'm operating at the edge of my knowledge here, so if anyone else has thoughts/clarifications, I'd welcome them!

[2022-06-15 19:07] DrCoffey commented on #173
@VoiceScientist & @MxMarx have done a better job explaining it than I ever could! Practically speaking, if you are looking at calls recorded on the same microphone with the same settings, louder calls have a higher power even if negative.

I don't put a lot of stock in the power calculation though. Animals could just be closer to a microphone or aiming directly at it, and it would seem like they w

[2022-06-17 19:55] VoiceScientist commented on #173
@DrCoffey I agree you have to take the power calculation with a grain of salt. I investigated that issue in the past using video tracking and I found the distance to the mic in a small enclosure (standard sized rat housing cage) didn't make much difference, but the orientation (angle to the mic) had more of an influence. USVs are highly directional. I justify comparing group differences in amplitu

[2022-06-17 20:32] TaxiCalbee commented on #173
The number of USVs recorded per day in our dataset is in the mid hundreds, so hopefully that would reduce differences due to variability in orientation to the mic. We also see the group differences particularly during early postnatal days (P1-5), which is when I expect the pups to not move very much. I'll have to confirm with my colleague about the orientation, whether that was controlled for at t

[2022-06-17 23:03] DrCoffey commented on #173
Ya, I think with enough animals/vocalizations you can get around the variability issue. Good luck with the rest of the analysis!

[2022-06-17 23:03] #173 closed

[2022-06-30 17:45] Fiuza-J commented on #172
Hey @DrCoffey,

Just checking if you have already had some time to look into this.
Thank you again for your help!

Best,
Juliana

[2022-07-27 19:10] lauren546 opened #175 "Supervised classifier from older version"
Hi Dr. Coffey! I am attempting to use a supervised classifier that was trained on an older version of DeepSqueak in the newest version, but I am experiencing error messages. Is there any way to use the old classifier that was already trained?

I also cannot seem to train a new classifier, even when using labeled detection files from the current version. I get the following error after going to Tra

[2022-07-27 19:45] DrCoffey commented on #175
Hey @lauren546. You can't use the old classifier because the image generation has changed. I know what the problem is with the new version and will have it fixed in a few minutes.

[2022-07-27 19:54] DrCoffey commented on #175
Hey @lauren546, if you update DeepSqueak supervised classification should be all fixed. Re-open the issue if you are still having a problem.

[2022-07-27 19:54] #175 closed

[2022-07-27 19:54] DrCoffey commented on #171
Hey @babywing, this is fixed in the new update. Sorry about that.

[2022-07-27 19:54] #171 closed

[2022-07-27 19:59] DrCoffey commented on #167
Hey @Neurolabrat

The warning is nothing but this error is strange: Unrecognized function or variable 'h'.

'h' is referring to the progress bar window. Is that not opening for you when you run detections? Do you have any special circumstances, like are you using a Mac?

[2022-07-27 20:02] DrCoffey commented on #154
Hey @Cesarmedina123 I fixed an issue with the supervised classifier code today. Just a heads up so you can update your code.

[2022-07-27 20:08] DrCoffey commented on #172
Hey @Fiuza-J Sorry for the slow reply, things have been crazy at lab and DeepSqueak is on the back burner.

I just tested a 20 file run and got through them all. Perhaps something is wrong with the 15th file in your set. Have you tried just removing that 1 file? Also, please update DeepSqueak there were a couple bug fixes recently

[2022-08-01 16:38] BerendWijers opened #176 "Performance tweaking multi detect"
**Is your feature request related to a problem? Please describe.**
According to the [documentation](https://documentation.help/DeepSqueak/documentation.pdf) we could, in previous versions of DeepSqueak, adjust the chunk length for analysis to tweak performance. This option seemingly has disappeared. I have a suspicion that DeepSqueak might not be set to use the full GPU. Therefore, I would like to

[2022-08-01 16:39] BerendWijers opened #177 "In multidetect merging boxes fails and produces an error."
Hi Dr. Coffey,

I'm assisting a Postdoc and her Master Student in the setup of an analysis pipeline, using Deep Squeak. I've run into a technical issue and I'm hoping you can help me resolve it. I've provided a description below. Thank you in advance!

**Describe the bug**
When using Multi-detect, after the first audio file has been analysed the merging boxes step fails and produces an error causi

[2022-08-01 18:52] DrCoffey commented on #177
Hey @BerendWijers

This crash happened because the long network found a few calls but none of them passed the 0.7 score threshold, and DeepSqueak got confused. I fixed the bug, and it should run fine now if you update DeepSqueak.

[2022-08-01 18:52] #177 closed

[2022-08-01 18:54] DrCoffey commented on #167
Hey @Neurolabrat I found the bug that causes this error. It is fixed if you update. Basically if Deepsqueak found calls, but none passed the score threshold things were breaking

[2022-08-01 18:54] #167 closed

[2022-08-01 18:57] DrCoffey commented on #176
Hey @BerendWijers, I removed the chunk length option because it was causing detection variability. The Yolo networks are trained using a set image size, so I now detect at that size. When you train a network you can use bigger images, and then the detection will use bigger images. The included networks all use 0.5s images, and so that is the chunk length. I was trying to optimize for detection qua

[2022-08-01 18:58] #164 closed

[2022-08-01 18:59] #154 closed

[2022-08-01 18:59] #159 closed

[2022-08-01 19:00] #162 closed

[2022-08-02 10:21] BerendWijers commented on #176
Hi @DrCoffey , Thank you for the answer! Very understandable choice to remove chunk length option then.

I will relay the information to the group I'm working with. Furthermore, I will try and determine if we still require a performance increase. If that is the case I will look more in the direction of the pipeline design rather than trying to (performance) optimize DeepSqueak itself as that is no

[2022-08-02 10:21] #176 closed

[2022-08-08 15:35] babywing opened #178 "Can't load in detection files or classify on one computer"
Hi Kevin,

One of my students is having an issue loading in detection files and classifying them. She has the newest update of MatLab, all packages installed, and version 3.0.4 . She selects the detection file and corresponding audio file, clicks load calls, hears the "error" sound, and her GUI looks weird (the deepsqueak logo flips upside down). I have the same version of MatLab and version 3.0.4

[2022-08-11 00:45] DrCoffey commented on #178
Hey @babywing I would need to see the complete error message to help.

-Kevin

[2022-08-17 14:10] Hobart10 opened #181 "Spectrogram resolution adjustment feature request"
Dear Dr. Coffey,
Sometimes I'll manually check the call type based on the spectrogram, but the relatively low resolution makes some panels too blurred to recognize in my usage. May I ask how could I modify the resolution in focus window?
Thank you!

[2022-08-18 17:26] DrCoffey commented on #181
Hey @Hobart10. The spectrogram settings are in the "display settings" on the bottom right of the main window.  The auto feature should get you ideal settings, but you can change them manually as well.

[2022-08-19 04:26] Hobart10 commented on #181
Ahhh! Thank you! Sorry I didn't notice that option.

[2022-08-22 08:17] #181 closed

[2022-10-11 06:59] cmlenell1 commented on #157
Okay, thank you!!

Charles Lenell, PhD, CCC-SLP

On Thu, Mar 10, 2022 at 4:18 PM DrCoffey ***@***.***> wrote:

[2022-10-17 20:06] #178 closed

[2022-10-17 20:12] babywing opened #183 "Can't train supervised classifier"
Hi Dr. Coffey,

I'm trying to create a new/updated supervised classifier, but I cannot load any detection files and get this error message in the console. The "loading files x/xx" window pops up, but I get an error sound, and the files cease to load. I have an existing supervised classifier I created earlier this year, so I'm not sure why I cannot create a new one using the latest version. Thanks!

[2022-10-17 20:43] DrCoffey commented on #183
Hey @babywing. It looks like DeepSqueak can't find the audio file. Try setting both the detection & audio folder and then restarting deepsqueak. Make sure you can load one of the detection files, and then try training the classifier.

I just tested some supervised training/classification on my data and it was working fine.

[2022-10-17 21:22] babywing commented on #183
Thank you! I selected the audio folder that accompanies the detection file folder, and it seems to be working.

[2022-10-25 22:18] dnarvaiz opened #186 "Need Khz grids"
In some call type classification schemes, call types are determined by overall shape within a set of parameters determined by khz. For example, in [Scattoni et al's](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2972364/) classification scheme, an "upward-modulated call" exhibits a continuous increase in frequency that is ≥12.5 kHz, with a terminal dominant frequency at least 6.25 kHz more than the

[2022-10-25 22:38] DrCoffey commented on #186
Hey @dnarvaiz

I will probably not be able to get around to this request for the foreseeable future, but if you are able to make the modification to the code I would be happy to add it via a pull request. Unfortunately I have very little time for development and have a big list of goals above this. Also, we are really moving away from categorizing calls based on experimenter derived rigid rules, a

[2022-11-09 18:03] rszelaya opened #187 "Unable to load or detect calls"
Hi, I am having trouble detect calls. I do have all the add ons necessary for deepsqueak to work. It won't do anything besides show this error and stuck on the initializing window.

------------------------------------------------------------------------------------------
Unrecognized field name "detector".

Error in SqueakDetect (line 14)
network=networkfile.detector;

Error in multinetdect_Callb

[2022-11-21 20:29] DrCoffey commented on #187
Hey, I'm not exactly sure what is going on here. First, try to set the network, audio, and detections folders in the file menu. Set all the defaults and see if you can load or detect calls using all the included files.

You may also try deleting the settings file and reopening deepsqueak. It will build a new default settings file, which sometimes foxes things.